VITE_LINKEDIN_URL=your-linkedin-profile
VITE_GITHUB_URL=your-github-username
VITE_FORMSPREE_ENDPOINT=YOUR_FORMSPREE_ENDPOINT
VITE_INSTAGRAM_URL=YOUR_INSTAGRAM_PROFILE_URL
VITE_MEDIFLOW_GITHUB_URL=YOUR_MEDIFLOW_GITHUB_REPOSITORY
